*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# Ignore dependencies
node_modules/
/node_modules/
composer.lock
/composer.lock
package-lock.json
/package-lock.json
.parcel-cache
/.parcel-cache


# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

